# ignoring:
*.sh
*.nc
*.DS_Store
*.mat
*.asv
/data/readme.md

/fig_code/addfxns/smpl_syncs.txt


#fig_code/fig_formofthebias.m
#fig_code/fig_mooringobs_ex.m
#fig_code/fig_overviewmap.m
#fig_code/fig_scatter_and_map.m
#fig_code/fig_scatters.m
#fig_code/fig_structurefunction_hs.m
fig_code/setup_data.m
fig_code/set_env.m

